.hero-slider {
   height: 100vh;
   .wrapper {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .slide__designer {
         margin-bottom: 60px;
      }
      .slide__content {
         display: flex;
         flex-direction: column;
         justify-content: center;
         height: 100vh;
         .slide__subtitle {
            font-size: 24px;
            font-weight: 600;
         }
         .slide__title {
            margin: 60px 0;
            .title-hero {
               font-size: 72px;
               font-weight: 800;
               line-height: 72px;
               letter-spacing: 3px;
            }
         }
      }
      .slide__designer {
         display: flex;
         align-items: center;
         .after {
            font-weight: 600;
            margin-left: 4px;
         }
      }
   }
   .hero-slider__slide {
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
   }
   .hero-slider__slide--01 {
      background-image: url(../img/bg-home-01.jpg);
   }
   .hero-slider__slide--02 {
      background-image: url(../img/bg-home-02.jpg);
   }
   .hero-slider__slide--03 {
      background-image: url(../img/bg-home-03.jpg);
   }
   .slick-dots {
      position: absolute;
      bottom: 64px;
      right: 96px;
      display: flex;
      gap: 0 8px;
      > li {
         list-style: none;
         > button {
            font-size: 0;
            background-color: rgba(255, 255, 255, 0.3);
            border: none;
            outline: none;
            width: 40px;
            height: 4px;
            transition: all 0.5s;
         }
      }
      .slick-active button {
         background-color: $primary-color;
      }
   }
}
