* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #000000;
}

input,
button,
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  outline: none;
}

input {
  line-height: normal;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* // ============  Responsive Mixin (Mobile First)  ============ //

@mixin sm {
    @media screen and (min-width: 576px) {
        @content;
    }
}
@mixin md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin lg {
    @media screen and (min-width: 992px) {
        @content;
    }
}
@mixin xl {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
*/
.header {
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 10;
}

.header__search, .header__nav, .header__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 76px;
  line-height: 76px;
}

.header__burger {
  display: none;
}

@media screen and (max-width: 991px) {
  .header__burger {
    display: block;
    font-size: 28px;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-right: 28px;
    color: #000000;
  }
}

.header__logo-mb {
  display: none;
}

@media screen and (max-width: 991px) {
  .header__logo-mb {
    display: block;
    width: 170px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto;
  }
}

.header__search {
  max-width: 104px;
  width: 100%;
  color: #808080;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .header__search {
    max-width: auto;
    width: auto;
  }
}

.header__search .icon-search {
  margin-right: 6px;
  color: #000000;
}

@media screen and (max-width: 991px) {
  .header__search .icon-search {
    margin-right: 0;
    font-size: 28px;
  }
}

@media screen and (max-width: 991px) {
  .header__search .label-search {
    display: none;
  }
}

.header .sidebar-overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 991px) {
  .header .sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 991px) {
  .header__nav {
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #ffffff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 360px;
    height: 100vh;
    -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 36px;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-80%);
    -webkit-transform: -webkit-translateX(-80%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 21;
  }
}

.header__nav .nav__footer {
  display: none;
}

@media screen and (max-width: 991px) {
  .header__nav .nav__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
  }
  .header__nav .nav__footer .nav-footer-icon {
    font-size: 28px;
  }
  .header__nav .nav__footer .nav-footer-icon--fav {
    margin-left: 12px;
  }
}

.header__nav .icon-close-sidebar {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 991px) {
  .header__nav .icon-close-sidebar {
    display: block;
    position: absolute;
    top: 44px;
    right: 36px;
    color: #808080;
    font-size: 28px;
  }
}

.header__nav .nav-link {
  display: inline-block;
  position: relative;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #000000;
}

.header__nav .nav-link + .nav-link {
  margin-left: 40px;
}

@media screen and (max-width: 991px) {
  .header__nav .nav-link + .nav-link {
    margin-left: 0;
  }
}

@media screen and (max-width: 991px) {
  .header__nav .nav-link {
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.2px;
    width: 100%;
  }
  .header__nav .nav-link:first-child {
    margin-top: 20px;
  }
}

.header__nav .nav-link:not([data-img='image-logo'])::after {
  position: absolute;
  bottom: 20px;
  content: '';
  background-color: #000000;
  display: block;
  height: 2px;
  width: 0%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 991px) {
  .header__nav .nav-link:not([data-img='image-logo'])::after {
    height: 0px;
  }
}

.header__nav .nav-link:hover::after {
  width: 100%;
}

.header__nav .nav-link:hover .nav-link__menu {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .header__nav .nav-link:hover .nav-link__menu {
    display: none;
  }
}

.header__nav .nav-link--img {
  width: 170px;
}

@media screen and (max-width: 991px) {
  .header__nav .nav-link--img {
    -webkit-box-ordinal-group: -4;
        -ms-flex-order: -5;
            order: -5;
  }
}

.header__nav .nav-link--expand {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .header__nav .nav-link--expand {
    height: 50px;
    overflow: hidden;
  }
}

.header__nav .nav-link--expand .nav-link__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav .nav-link--expand .icon-arrow {
  color: #808080;
  font-size: 18px;
  margin-left: 4px;
}

@media screen and (max-width: 991px) {
  .header__nav .nav-link--expand .icon-arrow {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font-size: 24px;
  }
}

.header__nav .nav-link__menu {
  background-color: #ffffff;
  -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0 6px 16px rgba(0, 0, 0, 0.16);
  padding: 24px 24px 24px;
  line-height: initial;
  width: 1108px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 0 24px;
  position: absolute;
  left: -361px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__nav .nav-link__menu .menu-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav .nav-link__menu .menu-type .menu-type__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.header__nav .nav-link__menu .menu-type .menu-type__label .icon-arrow {
  margin-left: 0;
  font-size: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__nav .nav-link__menu .menu-type .menu-type__label:hover .icon-arrow {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.header__nav .nav-link__menu .menu-type .menu-type__item {
  font-weight: 400;
  color: #808080;
  line-height: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__nav .nav-link__menu .menu-type .menu-type__item:hover {
  color: #000000;
}

.header__nav .nav-link__menu .menu-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav .nav-link__menu .menu-col > img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__nav .nav-link__categories-links {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

@media screen and (max-width: 991px) {
  .header__nav .nav-link__categories-links {
    opacity: 1;
    visibility: visible;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 12px 16px;
  }
}

.header__nav .nav-link__categories-links .category-link {
  line-height: 40px;
  color: #808080;
  font-weight: 400;
}

.header__feature .feature + .feature {
  margin-left: 16px;
}

@media screen and (max-width: 991px) {
  .header__feature .feature--user {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .header__feature .feature--fav {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .header__feature .feature--cart {
    margin-left: 12px !important;
  }
}

@media screen and (max-width: 991px) {
  .header__feature .feature--cart .icon-cart {
    font-size: 28px;
  }
}

.search-modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 9999;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search-modal .search-modal-inner {
  position: relative;
  padding: 10% 10% 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 991px) {
  .search-modal .search-modal-inner {
    padding: 18% 10% 0;
  }
}

.search-modal .input-wrapper {
  position: relative;
}

.search-modal .input-wrapper > input {
  font-size: 24px;
  width: 100%;
  padding: 13px 0;
  border: none;
  background-color: transparent;
}

.search-modal .input-wrapper .icon-search {
  font-size: 40px;
  right: 0;
  z-index: 2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #000000;
}

.search-modal .input-wrapper::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  bottom: 0px;
}

.search-modal .modal-icon-close {
  position: absolute;
  font-size: 40px;
  top: 36px;
  right: 36px;
  cursor: pointer;
}

.sticky-header {
  background-color: white;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-slider {
  height: 100%;
}

.hero-slider .wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-slider .wrapper .slide__designer {
  margin-bottom: 60px;
}

.hero-slider .wrapper .slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.hero-slider .wrapper .slide__content .slide__subtitle {
  font-size: 24px;
  font-weight: 600;
}

.hero-slider .wrapper .slide__content .slide__title {
  margin: 60px 0;
}

.hero-slider .wrapper .slide__content .slide__title .title-hero {
  font-size: 72px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 3px;
}

.hero-slider .wrapper .slide__designer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-slider .wrapper .slide__designer .after {
  font-weight: 600;
  margin-left: 4px;
}

.hero-slider .hero-slider__slide {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.hero-slider .hero-slider__slide--01 {
  background-image: url(../img/bg-home-01.jpg);
}

.hero-slider .hero-slider__slide--02 {
  background-image: url(../img/bg-home-02.jpg);
}

.hero-slider .hero-slider__slide--03 {
  background-image: url(../img/bg-home-03.jpg);
}

.hero-slider .slick-dots {
  position: absolute;
  bottom: 64px;
  right: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 8px;
}

.hero-slider .slick-dots > li {
  list-style: none;
}

.hero-slider .slick-dots > li > button {
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  width: 40px;
  height: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hero-slider .slick-dots .slick-active button {
  background-color: #000000;
}

.slogan {
  padding: 120px 0;
}

.slogan .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slogan__icon {
  margin-bottom: 40px;
}

.slogan__icon > img {
  width: 110px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slogan__title {
  line-height: 56px;
  text-align: center;
  max-width: 924px;
}

.slogan__subtitle {
  font-weight: 600;
  text-transform: uppercase;
  padding: 24px 0;
}

.our-products .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-products .content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 44px;
}

.our-products__card {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.our-products__card:hover {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.our-products__card .card-img {
  width: 100%;
  height: 100%;
  background-image: url(../img/product-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.our-products__card .card-img::after {
  content: '';
  display: block;
  padding-top: 100%;
}

.our-products__card .card-content {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.our-products__card .card-content .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-products__card .card-content .main .card-content__title {
  font-size: 16px;
  font-weight: 700;
}

.our-products__card .card-content .main .card-content__category {
  text-transform: uppercase;
  color: #808080;
}

.our-products__card .card-content .main .card-content__price {
  font-size: 16px;
  margin-top: auto;
  font-weight: 500;
}

.our-products__card .card-content .event-tag {
  margin-left: auto;
}

.our-products .card-lg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.our-products .card-lg .card-img {
  background-image: url(../img/product-lg.jpg);
}

.our-products .card-lg .card-img::after {
  padding: initial;
}

.our-products .card-lg .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px;
}

.our-products .card-lg .card-content > p {
  max-width: 304px;
  margin-top: 8px;
}

.our-products .card-lg .card-content > button {
  margin-top: auto;
}

.our-products .card-lg .card-content .event-tag--lg {
  position: absolute;
  bottom: 40px;
  right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 18px;
  font-weight: 400;
  text-transform: initial;
}

.our-products .card-lg .card-content .event-tag--lg .price {
  font-weight: 700;
}

.our-products .card-01 .card-img {
  background-image: url(../img/product-01.jpg);
}

.our-products .card-02 .card-img {
  background-image: url(../img/product-02.jpg);
}

.our-products .card-03 .card-img {
  background-image: url(../img/product-03.jpg);
}

.our-products .card-04 .card-img {
  background-image: url(../img/product-04.jpg);
}

.our-products .card-05 .card-img {
  background-image: url(../img/product-05.jpg);
}

.our-products .card-06 .card-img {
  background-image: url(../img/product-06.jpg);
}

.categories {
  padding-bottom: 120px;
  overflow-x: hidden;
}

.categories .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories__left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 52px;
}

.categories__left-block .slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10px;
}

.categories__left-block .section-desc {
  padding: 20px 0 60px 0;
  width: 330px;
}

.categories__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1652px;
}

.categories__slider .categories-slider__card {
  position: relative;
  height: 413px;
  margin: 12px 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.categories__slider .categories-slider__card:hover {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.categories__slider .categories-slider__card .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 36px 44px 44px 44px;
}

.categories__slider .categories-slider__card .card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* // ============  Responsive Mixin (Mobile First)  ============ //

@mixin sm {
    @media screen and (min-width: 576px) {
        @content;
    }
}
@mixin md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin lg {
    @media screen and (min-width: 992px) {
        @content;
    }
}
@mixin xl {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
*/
.container {
  max-width: 1140px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 752px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 572px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }
}

.container-90 {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 90%;
}

.btn {
  font-weight: 700;
  padding: 10px 12px;
  background-color: transparent;
  border: 1px solid #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #000000;
}

.btn--mega:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn--primary {
  padding: 10px 30px;
}

.btn--primary:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn--secondary {
  position: relative;
  border: none;
  padding: 4px 0;
}

.btn--secondary::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  background-color: #c2c2c2;
  width: 100%;
  height: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--secondary:hover::after {
  background-color: #000000;
}

.btn-slider {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-slider:hover {
  border: 1px solid #808080;
}

.btn-slider--slick {
  position: absolute;
}

.btn-slider--hide {
  font-size: 0;
  width: 0;
  height: 0;
  border: none;
}

.btn-slider--hide > span {
  font-size: 0;
}

.btn-slider--hide:hover {
  border: none;
}

.modal-active {
  visibility: visible !important;
  opacity: 1 !important;
}

.section-title {
  font-size: 40px;
  line-height: 48px;
}

.section-desc {
  color: #808080;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.section-desc--light {
  font-weight: 300;
  color: #000000;
}

.card-title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

.pb-120 {
  padding-bottom: 120px;
}

.event-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.event-tag--new {
  background-color: #9bd6c1;
}

.event-tag--sale {
  background-color: #f86c6c;
}

.event-tag--lg {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
}

.price-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.price-sale__new {
  color: #f86c6c;
}

.price-sale__old {
  font-size: 12px;
  color: #808080;
  text-decoration: line-through;
  font-weight: 400;
  margin-left: 8px;
}

@media screen and (max-width: 991px) {
  .sidebar-active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media screen and (max-width: 991px) {
  .overlay-active {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

.expand-menu-active {
  overflow: visible !important;
  height: auto !important;
}

.feature {
  position: relative;
}

.feature > span {
  color: #000000;
  display: block;
}

.feature .feature-count {
  position: absolute;
  right: -8px;
  top: -8px;
}

.feature .feature-count::before {
  position: relative;
  content: '';
  display: block;
  background-color: #f86c6c;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.feature .feature-count .count-number {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */